Pitch/Goal: Train a housing prediction model using Zillow housing data and then create a web app where users can fill out a form about their home attributes and get an estimated sale price.

In this competition, Zillow is asking you to predict the log-error between their Zestimate and the actual sale price, given all the features of a home. The log error is defined as: logerror=log(Zestimate)âˆ’log(SalePrice) and it is recorded in the transactions file train.csv.

In [152]:
import pandas as pd

In [2]:
prop_16 = pd.read_csv('properties_2016.csv')

/home/tcbic/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (22,32,34,49,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
pd.set_option('display.max_columns', None)

In [5]:
prop_16.head()

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,finishedfloor1squarefeet,calculatedfinishedsquarefeet,finishedsquarefeet12,finishedsquarefeet13,finishedsquarefeet15,finishedsquarefeet50,finishedsquarefeet6,fips,fireplacecnt,fullbathcnt,garagecarcnt,garagetotalsqft,hashottuborspa,heatingorsystemtypeid,latitude,longitude,lotsizesquarefeet,poolcnt,poolsizesum,pooltypeid10,pooltypeid2,pooltypeid7,propertycountylandusecode,propertylandusetypeid,propertyzoningdesc,rawcensustractandblock,regionidcity,regionidcounty,regionidneighborhood,regionidzip,roomcnt,storytypeid,threequarterbathnbr,typeconstructiontypeid,unitcnt,yardbuildingsqft17,yardbuildingsqft26,yearbuilt,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
0,10754147,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6037.0,NaN,NaN,NaN,NaN,NaN,NaN,34144442.0,-118654084.0,85768.0,NaN,NaN,NaN,NaN,NaN,010D,269.0,NaN,6.037800e+07,37688.0,3101.0,NaN,96337.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,2015.0,9.0,NaN,NaN,NaN,NaN
1,10759547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6037.0,NaN,NaN,NaN,NaN,NaN,NaN,34140430.0,-118625364.0,4083.0,NaN,NaN,NaN,NaN,NaN,0109,261.0,LCA11*,6.037800e+07,37688.0,3101.0,NaN,96337.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27516.0,2015.0,27516.0,NaN,NaN,NaN,NaN
2,10843547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,73026.0,NaN,NaN,73026.0,NaN,NaN,6037.0,NaN,NaN,NaN,NaN,NaN,NaN,33989359.0,-118394633.0,63085.0,NaN,NaN,NaN,NaN,NaN,1200,47.0,LAC2,6.037703e+07,51617.0,3101.0,NaN,96095.0,0.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,650756.0,1413387.0,2015.0,762631.0,20800.37,NaN,NaN,NaN
3,10859147,NaN,NaN,NaN,0.0,0.0,3.0,7.0,NaN,NaN,NaN,5068.0,NaN,NaN,5068.0,NaN,NaN,6037.0,NaN,NaN,NaN,NaN,NaN,NaN,34148863.0,-118437206.0,7521.0,NaN,NaN,NaN,NaN,NaN,1200,47.0,LAC2,6.037141e+07,12447.0,3101.0,27080.0,96424.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,1948.0,1.0,NaN,571346.0,1156834.0,2015.0,585488.0,14557.57,NaN,NaN,NaN
4,10879947,NaN,NaN,NaN,0.0,0.0,4.0,NaN,NaN,NaN,NaN,1776.0,NaN,NaN,1776.0,NaN,NaN,6037.0,NaN,NaN,NaN,NaN,NaN,NaN,34194168.0,-118385816.0,8512.0,NaN,NaN,NaN,NaN,NaN,1210,31.0,LAM1,6.037123e+07,12447.0,3101.0,46795.0,96450.0,0.0,NaN,NaN,NaN,1.0,NaN,NaN,1947.0,NaN,NaN,193796.0,433491.0,2015.0,239695.0,5725.17,NaN,NaN,NaN

In [9]:
prop_16.shape

(2985217, 58)

In [8]:
prop_16.isnull().sum().sort_values()

parcelid                              0
fips                              11437
propertylandusetypeid             11437
rawcensustractandblock            11437
regionidcounty                    11437
longitude                         11437
latitude                          11437
assessmentyear                    11439
bedroomcnt                        11450
bathroomcnt                       11462
roomcnt                           11475
propertycountylandusecode         12277
regionidzip                       13980
taxamount                         31250
taxvaluedollarcnt                 42550
structuretaxvaluedollarcnt        54982
calculatedfinishedsquarefeet      55565
yearbuilt                         59928
regionidcity                      62845
landtaxvaluedollarcnt             67733
censustractandblock               75126
fullbathcnt                      128912
calculatedbathnbr                128912
finishedsquarefeet12             276033
lotsizesquarefeet                276099
propertyzoningdesc              1006588
unitcnt                         1007727
buildingqualitytypeid           1046729
heatingorsystemtypeid           1178816
regionidneighborhood            1828815
garagecarcnt                    2101950
garagetotalsqft                 2101950
airconditioningtypeid           2173698
numberofstories                 2303148
poolcnt                         2467683
pooltypeid7                     2499758
fireplacecnt                    2672580
threequarterbathnbr             2673586
finishedfloor1squarefeet        2782500
finishedsquarefeet50            2782500
finishedsquarefeet15            2794419
yardbuildingsqft17              2904862
hashottuborspa                  2916203
taxdelinquencyyear              2928753
taxdelinquencyflag              2928755
pooltypeid10                    2948278
pooltypeid2                     2953142
poolsizesum                     2957257
finishedsquarefeet6             2963216
decktypeid                      2968121
buildingclasstypeid             2972588
finishedsquarefeet13            2977545
typeconstructiontypeid          2978470
architecturalstyletypeid        2979156
fireplaceflag                   2980054
yardbuildingsqft26              2982570
basementsqft                    2983589
storytypeid                     2983593
dtype: int64

In [21]:
sub_prop_16 = prop_16[['parcelid','fips', 'propertylandusetypeid', 'rawcensustractandblock', 'regionidcounty',
                      'longitude', 'latitude', 'assessmentyear', 'bedroomcnt', 'bathroomcnt', 'roomcnt', 'propertycountylandusecode',
                      'regionidzip', 'taxamount', 'taxvaluedollarcnt', 'structuretaxvaluedollarcnt', 'calculatedfinishedsquarefeet',
                      'yearbuilt', 'regionidcity', 'landtaxvaluedollarcnt', 'censustractandblock', 'fullbathcnt',
                      'calculatedbathnbr', 'finishedsquarefeet12', 'lotsizesquarefeet']]

In [22]:
sub_prop_16.head()

,parcelid,fips,propertylandusetypeid,rawcensustractandblock,regionidcounty,longitude,latitude,assessmentyear,bedroomcnt,bathroomcnt,roomcnt,propertycountylandusecode,regionidzip,taxamount,taxvaluedollarcnt,structuretaxvaluedollarcnt,calculatedfinishedsquarefeet,yearbuilt,regionidcity,landtaxvaluedollarcnt,censustractandblock,fullbathcnt,calculatedbathnbr,finishedsquarefeet12,lotsizesquarefeet
0,10754147,6037.0,269.0,6.037800e+07,3101.0,-118654084.0,34144442.0,2015.0,0.0,0.0,0.0,010D,96337.0,NaN,9.0,NaN,NaN,NaN,37688.0,9.0,NaN,NaN,NaN,NaN,85768.0
1,10759547,6037.0,261.0,6.037800e+07,3101.0,-118625364.0,34140430.0,2015.0,0.0,0.0,0.0,0109,96337.0,NaN,27516.0,NaN,NaN,NaN,37688.0,27516.0,NaN,NaN,NaN,NaN,4083.0
2,10843547,6037.0,47.0,6.037703e+07,3101.0,-118394633.0,33989359.0,2015.0,0.0,0.0,0.0,1200,96095.0,20800.37,1413387.0,650756.0,73026.0,NaN,51617.0,762631.0,NaN,NaN,NaN,NaN,63085.0
3,10859147,6037.0,47.0,6.037141e+07,3101.0,-118437206.0,34148863.0,2015.0,0.0,0.0,0.0,1200,96424.0,14557.57,1156834.0,571346.0,5068.0,1948.0,12447.0,585488.0,NaN,NaN,NaN,NaN,7521.0
4,10879947,6037.0,31.0,6.037123e+07,3101.0,-118385816.0,34194168.0,2015.0,0.0,0.0,0.0,1210,96450.0,5725.17,433491.0,193796.0,1776.0,1947.0,12447.0,239695.0,NaN,NaN,NaN,NaN,8512.0

In [10]:
prop_17 = pd.read_csv('properties_2017.csv')

/home/tcbic/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (49) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [11]:
prop_17.head()

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,finishedfloor1squarefeet,calculatedfinishedsquarefeet,finishedsquarefeet12,finishedsquarefeet13,finishedsquarefeet15,finishedsquarefeet50,finishedsquarefeet6,fips,fireplacecnt,fullbathcnt,garagecarcnt,garagetotalsqft,hashottuborspa,heatingorsystemtypeid,latitude,longitude,lotsizesquarefeet,poolcnt,poolsizesum,pooltypeid10,pooltypeid2,pooltypeid7,propertycountylandusecode,propertylandusetypeid,propertyzoningdesc,rawcensustractandblock,regionidcity,regionidcounty,regionidneighborhood,regionidzip,roomcnt,storytypeid,threequarterbathnbr,typeconstructiontypeid,unitcnt,yardbuildingsqft17,yardbuildingsqft26,yearbuilt,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
0,10754147,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6037.0,NaN,NaN,NaN,NaN,NaN,NaN,34144442.0,-118654084.0,85768.0,NaN,NaN,NaN,NaN,NaN,010D,269.0,NaN,6.037800e+07,37688.0,3101.0,NaN,96337.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,2016.0,9.0,NaN,NaN,NaN,NaN
1,10759547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6037.0,NaN,NaN,NaN,NaN,NaN,NaN,34140430.0,-118625364.0,4083.0,NaN,NaN,NaN,NaN,NaN,0109,261.0,LCA11*,6.037800e+07,37688.0,3101.0,NaN,96337.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27516.0,2015.0,27516.0,NaN,NaN,NaN,NaN
2,10843547,NaN,NaN,NaN,0.0,0.0,5.0,NaN,NaN,NaN,NaN,73026.0,NaN,NaN,73026.0,NaN,NaN,6037.0,NaN,NaN,NaN,NaN,NaN,NaN,33989359.0,-118394633.0,63085.0,NaN,NaN,NaN,NaN,NaN,1200,47.0,LAC2,6.037703e+07,51617.0,3101.0,NaN,96095.0,0.0,NaN,NaN,NaN,2.0,NaN,NaN,1959.0,1.0,NaN,660680.0,1434941.0,2016.0,774261.0,20800.37,NaN,NaN,NaN
3,10859147,NaN,NaN,NaN,0.0,0.0,3.0,6.0,NaN,NaN,NaN,5068.0,NaN,NaN,5068.0,NaN,NaN,6037.0,NaN,NaN,NaN,NaN,NaN,NaN,34148863.0,-118437206.0,7521.0,NaN,NaN,NaN,NaN,NaN,1200,47.0,LAC2,6.037141e+07,12447.0,3101.0,27080.0,96424.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,1948.0,1.0,NaN,580059.0,1174475.0,2016.0,594416.0,14557.57,NaN,NaN,NaN
4,10879947,NaN,NaN,NaN,0.0,0.0,4.0,NaN,NaN,NaN,NaN,1776.0,NaN,NaN,1776.0,NaN,NaN,6037.0,NaN,NaN,NaN,NaN,NaN,NaN,34194168.0,-118385816.0,8512.0,NaN,NaN,NaN,NaN,NaN,1210,31.0,LAM1,6.037123e+07,12447.0,3101.0,46795.0,96450.0,0.0,NaN,NaN,NaN,1.0,NaN,NaN,1947.0,1.0,NaN,196751.0,440101.0,2016.0,243350.0,5725.17,NaN,NaN,NaN

In [12]:
prop_17.shape

(2985217, 58)

In [18]:
prop_17.isnull().sum().sort_values()

parcelid                              0
fips                               2932
propertylandusetypeid              2932
rawcensustractandblock             2932
regionidcounty                     2932
longitude                          2932
latitude                           2932
assessmentyear                     2933
bedroomcnt                         2945
bathroomcnt                        2957
roomcnt                            2969
propertycountylandusecode          2999
regionidzip                       12714
taxamount                         22752
taxvaluedollarcnt                 34266
calculatedfinishedsquarefeet      45097
structuretaxvaluedollarcnt        46464
yearbuilt                         47833
landtaxvaluedollarcnt             59926
regionidcity                      62128
censustractandblock               74985
fullbathcnt                      117156
calculatedbathnbr                117156
finishedsquarefeet12             264431
lotsizesquarefeet                272706
propertyzoningdesc              1002746
unitcnt                         1004175
buildingqualitytypeid           1043822
heatingorsystemtypeid           1116053
regionidneighborhood            1828476
garagecarcnt                    2094209
garagetotalsqft                 2094209
airconditioningtypeid           2169855
numberofstories                 2299541
poolcnt                         2445585
pooltypeid7                     2479322
threequarterbathnbr             2668860
fireplacecnt                    2672093
finishedfloor1squarefeet        2781459
finishedsquarefeet50            2781459
finishedsquarefeet15            2795032
yardbuildingsqft17              2903629
taxdelinquencyyear              2928700
taxdelinquencyflag              2928702
hashottuborspa                  2935155
pooltypeid2                     2952161
poolsizesum                     2957259
finishedsquarefeet6             2963735
decktypeid                      2967838
pooltypeid10                    2968211
buildingclasstypeid             2972486
finishedsquarefeet13            2977546
typeconstructiontypeid          2978471
architecturalstyletypeid        2979156
fireplaceflag                   2980054
yardbuildingsqft26              2982571
basementsqft                    2983590
storytypeid                     2983594
dtype: int64

In [23]:
sub_prop_17 = prop_17[['parcelid','fips', 'propertylandusetypeid', 'rawcensustractandblock', 'regionidcounty',
                      'longitude', 'latitude', 'assessmentyear', 'bedroomcnt', 'bathroomcnt', 'roomcnt', 'propertycountylandusecode',
                      'regionidzip', 'taxamount', 'taxvaluedollarcnt', 'structuretaxvaluedollarcnt', 'calculatedfinishedsquarefeet',
                      'yearbuilt', 'regionidcity', 'landtaxvaluedollarcnt', 'censustractandblock', 'fullbathcnt',
                      'calculatedbathnbr', 'finishedsquarefeet12', 'lotsizesquarefeet']]

In [161]:
sub_prop_17.head(25)

,parcelid,fips,propertylandusetypeid,rawcensustractandblock,regionidcounty,longitude,latitude,assessmentyear,bedroomcnt,bathroomcnt,roomcnt,propertycountylandusecode,regionidzip,taxamount,taxvaluedollarcnt,structuretaxvaluedollarcnt,calculatedfinishedsquarefeet,yearbuilt,regionidcity,landtaxvaluedollarcnt,censustractandblock,fullbathcnt,calculatedbathnbr,finishedsquarefeet12,lotsizesquarefeet
0,10754147,6037.0,269.0,6.037800e+07,3101.0,-118654084.0,34144442.0,2016.0,0.0,0.0,0.0,010D,96337.0,NaN,9.0,NaN,NaN,NaN,37688.0,9.0,NaN,NaN,NaN,NaN,85768.0
1,10759547,6037.0,261.0,6.037800e+07,3101.0,-118625364.0,34140430.0,2015.0,0.0,0.0,0.0,0109,96337.0,NaN,27516.0,NaN,NaN,NaN,37688.0,27516.0,NaN,NaN,NaN,NaN,4083.0
2,10843547,6037.0,47.0,6.037703e+07,3101.0,-118394633.0,33989359.0,2016.0,0.0,0.0,0.0,1200,96095.0,20800.37,1434941.0,660680.0,73026.0,1959.0,51617.0,774261.0,NaN,NaN,NaN,NaN,63085.0
3,10859147,6037.0,47.0,6.037141e+07,3101.0,-118437206.0,34148863.0,2016.0,0.0,0.0,0.0,1200,96424.0,14557.57,1174475.0,580059.0,5068.0,1948.0,12447.0,594416.0,NaN,NaN,NaN,NaN,7521.0
4,10879947,6037.0,31.0,6.037123e+07,3101.0,-118385816.0,34194168.0,2016.0,0.0,0.0,0.0,1210,96450.0,5725.17,440101.0,196751.0,1776.0,1947.0,12447.0,243350.0,NaN,NaN,NaN,NaN,8512.0
5,10898347,6037.0,31.0,6.037125e+07,3101.0,-118380906.0,34171873.0,2016.0,0.0,0.0,0.0,1210,96446.0,3661.28,287634.0,179072.0,2400.0,1943.0,12447.0,108562.0,NaN,NaN,NaN,NaN,2500.0
6,10933547,6037.0,260.0,6.037144e+07,3101.0,-118351474.0,34131929.0,2016.0,0.0,0.0,0.0,010V,96049.0,6773.34,563029.0,404013.0,NaN,NaN,12447.0,159016.0,NaN,NaN,NaN,NaN,NaN
7,10940747,6037.0,31.0,6.037311e+07,3101.0,-118314900.0,34171345.0,2016.0,0.0,0.0,0.0,1210,96434.0,7857.84,698984.0,103553.0,3611.0,1946.0,396054.0,595431.0,NaN,NaN,NaN,NaN,5333.0
8,10954547,6037.0,269.0,6.037310e+07,3101.0,-118331311.0,34218210.0,2016.0,0.0,0.0,0.0,010D,96436.0,NaN,9.0,NaN,NaN,NaN,396054.0,9.0,NaN,NaN,NaN,NaN,145865.0
9,10976347,6037.0,31.0,6.037320e+07,3101.0,-118432085.0,34289776.0,2016.0,0.0,0.0,0.0,1210,96366.0,4054.76,265184.0,221771.0,3754.0,1978.0,47547.0,43413.0,NaN,NaN,NaN,NaN,7494.0
10,11070347,6037.0,269.0,6.037108e+07,3101.0,-118577875.0,34291173.0,2016.0,4.0,4.0,0.0,010D,96356.0,2460.72,192544.0,138760.0,3095.0,2016.0,12447.0,53784.0,NaN,4.0,4.0,3095.0,NaN
11,11073947,6037.0,47.0,6.037111e+07,3101.0,-118520217.0,34265214.0,2016.0,0.0,0.0,0.0,1200,96370.0,6014.18,436767.0,249582.0,2470.0,1958.0,12447.0,187185.0,NaN,NaN,NaN,NaN,3423.0
12,11114347,6037.0,269.0,6.037920e+07,3101.0,-118565056.0,34447747.0,2016.0,0.0,0.0,0.0,010D,96377.0,NaN,9.0,NaN,NaN,NaN,NaN,9.0,NaN,NaN,NaN,NaN,81293.0
13,11116947,6037.0,269.0,6.037920e+07,3101.0,-118568166.0,34465048.0,2016.0,0.0,0.0,0.0,010D,96377.0,4690.68,171200.0,NaN,NaN,NaN,NaN,171200.0,NaN,NaN,NaN,NaN,6286.0
14,11142747,6037.0,266.0,6.037920e+07,3101.0,-118505805.0,34416889.0,2015.0,0.0,0.0,0.0,300V,96373.0,NaN,4265.0,NaN,NaN,NaN,54311.0,4265.0,NaN,NaN,NaN,NaN,NaN
15,11193347,6037.0,261.0,6.037910e+07,3101.0,-118162010.0,34585014.0,2016.0,0.0,0.0,0.0,0100,97329.0,NaN,10.0,NaN,NaN,NaN,40227.0,10.0,NaN,NaN,NaN,NaN,11975.0
16,11215747,6037.0,261.0,6.037911e+07,3101.0,-118019104.0,34563376.0,2016.0,0.0,0.0,0.0,0100,97330.0,NaN,10.0,NaN,NaN,NaN,40227.0,10.0,NaN,NaN,NaN,NaN,9403.0
17,11229347,6037.0,261.0,6.037911e+07,3101.0,-118050581.0,34526913.0,2016.0,0.0,0.0,0.0,0100,97330.0,174.21,2108.0,NaN,NaN,NaN,40227.0,2108.0,NaN,NaN,NaN,NaN,3817.0
18,11287347,6037.0,31.0,6.037901e+07,3101.0,-118135225.0,34690736.0,2016.0,0.0,0.0,0.0,1210,97317.0,2330.24,63374.0,33151.0,2760.0,1949.0,5534.0,30223.0,NaN,NaN,NaN,NaN,8856.0
19,11288547,6037.0,260.0,6.037900e+07,3101.0,-118139298.0,34733960.0,2016.0,0.0,0.0,0.0,300V,97318.0,4162.56,314727.0,176653.0,4000.0,1956.0,5534.0,138074.0,NaN,NaN,NaN,4000.0,46526.0
20,11324547,6037.0,261.0,6.037910e+07,3101.0,-118169806.0,34560018.0,2016.0,4.0,2.0,0.0,0100,97329.0,6941.39,296425.0,222321.0,3633.0,2005.0,40227.0,74104.0,NaN,2.0,2.0,3633.0,9826.0
21,11391347,6037.0,31.0,6.037235e+07,3101.0,-118329553.0,33986910.0,2016.0,0.0,0.0,0.0,1210,96024.0,6840.34,511433.0,200612.0,4053.0,2002.0,12447.0,310821.0,NaN,NaN,NaN,NaN,8050.0
22,11395747,6037.0,31.0,6.037601e+07,3101.0,-118319986.0,33960238.0,2016.0,0.0,0.0,0.0,1210,96137.0,1522.08,50689.0,36423.0,1442.0,NaN,45888.0,14266.0,NaN,NaN,NaN,NaN,2904.0
23,11404347,6037.0,31.0,6.037601e+07,3101.0,-118350438.0,33959896.0,2016.0,0.0,0.0,0.0,1210,96133.0,3703.54,365489.0,111677.0,1936.0,1939.0,45888.0,253812.0,NaN,NaN,NaN,NaN,1821.0
24,11405747,6037.0,31.0,6.037601e+07,3101.0,-118361711.0,33952952.0,2016.0,0.0,0.0,0.0,1210,96133.0,2992.02,184437.0,42556.0,1606.0,1926.0,45888.0,141881.0,NaN,NaN,NaN,NaN,5231.0

In [159]:
sub_prop_17.isnull().sum()

parcelid                             0
fips                              2932
propertylandusetypeid             2932
rawcensustractandblock            2932
regionidcounty                    2932
longitude                         2932
latitude                          2932
assessmentyear                    2933
bedroomcnt                        2945
bathroomcnt                       2957
roomcnt                           2969
propertycountylandusecode         2999
regionidzip                      12714
taxamount                        22752
taxvaluedollarcnt                34266
structuretaxvaluedollarcnt       46464
calculatedfinishedsquarefeet     45097
yearbuilt                        47833
regionidcity                     62128
landtaxvaluedollarcnt            59926
censustractandblock              74985
fullbathcnt                     117156
calculatedbathnbr               117156
finishedsquarefeet12            264431
lotsizesquarefeet               272706
dtype: int64

In [200]:
# Drop irrelevant features such as features related to location.

final_prop_17 = sub_prop_17[['propertylandusetypeid', 'assessmentyear', 'bedroomcnt',
                           'bathroomcnt', 'taxvaluedollarcnt', 'calculatedfinishedsquarefeet',
                           'yearbuilt', 'lotsizesquarefeet']]

In [251]:
final_prop_17.head()

,propertylandusetypeid,assessmentyear,bedroomcnt,bathroomcnt,taxvaluedollarcnt,calculatedfinishedsquarefeet,yearbuilt,lotsizesquarefeet
0,269.0,2016.0,0.0,0.0,9.0,1831.0,1964.0,85768.0
1,261.0,2015.0,0.0,0.0,27516.0,1831.0,1964.0,4083.0
2,47.0,2016.0,0.0,0.0,1434941.0,73026.0,1959.0,63085.0
3,47.0,2016.0,0.0,0.0,1174475.0,5068.0,1948.0,7521.0
4,31.0,2016.0,0.0,0.0,440101.0,1776.0,1947.0,8512.0

In [202]:
final_prop_17.isnull().sum()

propertylandusetypeid             2932
assessmentyear                    2933
bedroomcnt                        2945
bathroomcnt                       2957
taxvaluedollarcnt                34266
calculatedfinishedsquarefeet     45097
yearbuilt                        47833
lotsizesquarefeet               272706
dtype: int64

Take a look at the propertylandusetypeid.

In [203]:
# Types of land use the property is zoned for...

final_prop_17['propertylandusetypeid'].sort_values().value_counts()

261.0    2152863
266.0     483789
246.0     114415
269.0      61559
263.0      59344
248.0      40731
247.0      39977
31.0        9487
265.0       9421
47.0        4379
260.0       2996
267.0       1808
275.0       1219
264.0        260
270.0         36
279.0          1
Name: propertylandusetypeid, dtype: int64

In [204]:
# Find mode.

mode_propland_17 = final_prop_17['propertylandusetypeid'].mode()

print(mode_propland_17)

0    261.0
dtype: float64

In [205]:
# Fill in missing values with mode.

final_prop_17['propertylandusetypeid'] = final_prop_17['propertylandusetypeid'].fillna(3)

/home/tcbic/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [206]:
# Check that missing values have been filled.

final_prop_17['propertylandusetypeid'].isnull().sum()

0

Take a look at assessment year feature.

In [207]:
final_prop_17['assessmentyear'].sort_values().value_counts()

2016.0    2978601
2015.0       2342
2014.0       1290
2012.0         26
2004.0          6
2013.0          4
2003.0          3
2001.0          3
2010.0          2
2009.0          2
2005.0          2
2011.0          1
2002.0          1
2000.0          1
Name: assessmentyear, dtype: int64

In [208]:
# Find mode.

mode_year_17 = final_prop_17['assessmentyear'].mode()

print(mode_year_17)

0    2016.0
dtype: float64

In [209]:
# Fill in missing values with mode.

final_prop_17['assessmentyear'] = final_prop_17['assessmentyear'].fillna(2016)

/home/tcbic/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [210]:
# Check that missing values have been filled.

final_prop_17['assessmentyear'].isnull().sum()

0

Take a look at bedroomcnt feature.

In [211]:
final_prop_17['bedroomcnt'].sort_values().value_counts()

3.0     1172757
4.0      731475
2.0      606782
5.0      182765
0.0      118705
1.0       86941
6.0       48915
8.0       13542
7.0       12763
9.0        4279
10.0       1702
12.0        959
11.0        425
13.0         86
14.0         69
16.0         50
15.0         24
17.0         11
18.0          9
20.0          8
25.0          1
21.0          1
23.0          1
24.0          1
19.0          1
Name: bedroomcnt, dtype: int64

In [212]:
# Find the mean bedroomcnt.

mean_bedroom = final_prop_17['bedroomcnt'].mean()

# Round to nearest whole number.

print(round(mean_bedroom))

3

In [213]:
# Fill in missing values for bedroom count with mean.

final_prop_17['bedroomcnt'] = final_prop_17['bedroomcnt'].fillna(3)

/home/tcbic/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [214]:
# Check that missing values were filled.

final_prop_17['bedroomcnt'].isnull().sum()

0

Take a look at bathroom count feature.

In [215]:
final_prop_17['bathroomcnt'].sort_values().value_counts()

2.00     1219811
3.00      633089
1.00      499332
2.50      208809
4.00      133922
0.00      113470
1.50       45735
5.00       38514
3.50       31835
4.50       19864
6.00       16416
5.50        6275
7.00        6221
8.00        4548
6.50        1352
9.00        1341
10.00        496
7.50         385
12.00        269
11.00        200
8.50         113
13.00         53
9.50          50
14.00         39
16.00         25
15.00         21
0.50          16
10.50         14
18.00         12
17.00          8
20.00          8
1.75           4
11.50          3
19.00          3
12.50          3
14.50          1
19.50          1
31.00          1
32.00          1
Name: bathroomcnt, dtype: int64

In [216]:
# Find the mean bathroomcnt.

mean_bathroom_17 = final_prop_17['bathroomcnt'].mean()

print(mean_bathroom_17)

print(round(mean_bathroom_17))

2.216195770992469
2

In [217]:
# Fill in missing values for bedroom count with mean.

final_prop_17['bathroomcnt'] = final_prop_17['bathroomcnt'].fillna(2)

/home/tcbic/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [218]:
# Check that missing values were filled.

final_prop_17['bathroomcnt'].isnull().sum()

0

Take a look at calculated square feet feature.

In [219]:
final_prop_17['calculatedfinishedsquarefeet'].sort_values().value_counts()

1440.0     8968
1344.0     7211
1200.0     7111
960.0      6024
1120.0     5956
1080.0     5837
1040.0     5436
1248.0     5319
1400.0     4743
1152.0     4685
1260.0     4658
1320.0     4585
1240.0     4520
1300.0     4478
1296.0     4281
1176.0     4211
936.0      4166
1570.0     4162
1056.0     4148
1008.0     4147
1536.0     4029
1600.0     3987
864.0      3926
1560.0     3919
1144.0     3888
1392.0     3831
1680.0     3799
1232.0     3784
1500.0     3690
1350.0     3673
           ...
11746.0       1
11738.0       1
11735.0       1
11733.0       1
11648.0       1
11649.0       1
11652.0       1
11656.0       1
11666.0       1
11669.0       1
11674.0       1
11676.0       1
11677.0       1
11679.0       1
11687.0       1
11689.0       1
11691.0       1
11693.0       1
11698.0       1
11701.0       1
11703.0       1
11706.0       1
11718.0       1
11721.0       1
11724.0       1
11725.0       1
11726.0       1
11730.0       1
11731.0       1
9298.0        1
Name: calculatedfinishedsquarefeet, Length: 12631, dtype: int64

In [220]:
# Find the mean.

mean_sqfeet_17 = final_prop_17['calculatedfinishedsquarefeet'].mean()

print(round(mean_sqfeet_17))

1831

In [221]:
# Fill in missing values for year built with mean. Round to nearest whole number.

final_prop_17['calculatedfinishedsquarefeet'] = final_prop_17['calculatedfinishedsquarefeet'].fillna(1831)

/home/tcbic/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [222]:
# Check that there are no missing values.

final_prop_17['calculatedfinishedsquarefeet'].isnull().sum()

0

Take a look at year built feature.

In [223]:
final_prop_17['yearbuilt'].sort_values().value_counts()

1955.0    88555
1950.0    76100
1954.0    73284
1953.0    67062
1956.0    65723
1964.0    64907
1951.0    56643
1963.0    54754
1952.0    54378
1947.0    52935
1948.0    52625
1989.0    52527
1973.0    51429
1965.0    49462
1949.0    48257
1962.0    48223
1979.0    47501
1959.0    47199
1977.0    46666
1957.0    46509
1987.0    44844
1972.0    44400
1971.0    42995
1978.0    42674
1960.0    41916
1976.0    41759
1980.0    41395
1990.0    41213
1961.0    40188
1986.0    38549
          ...
1821.0        2
1876.0        2
1831.0        2
1865.0        2
1874.0        2
1847.0        1
1820.0        1
1802.0        1
1805.0        1
1866.0        1
1807.0        1
1879.0        1
1810.0        1
1861.0        1
1813.0        1
1860.0        1
1869.0        1
1872.0        1
1842.0        1
1877.0        1
1854.0        1
1825.0        1
1826.0        1
1863.0        1
1828.0        1
1829.0        1
1833.0        1
1834.0        1
1852.0        1
1827.0        1
Name: yearbuilt, Length: 183, dtype: int64

In [224]:
# Find the mean of year built.

mean_year_17 = final_prop_17['yearbuilt'].mean()

print(round(mean_year_17))

1964

In [225]:
# Fill in missing values.

final_prop_17['yearbuilt'] = final_prop_17['yearbuilt'].fillna(1964)

/home/tcbic/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [226]:
# Check that missing values have been filled.

final_prop_17['yearbuilt'].isnull().sum()

0

Take a look at lot size square feet feature.

In [227]:
final_prop_17['lotsizesquarefeet'].sort_values().value_counts()

6000.0       44585
5000.0       17517
7200.0       15326
7000.0       11864
6500.0       11565
7500.0       10179
6600.0        6999
6300.0        6702
5500.0        6162
5400.0        5955
6750.0        5685
5200.0        5504
4000.0        5097
7499.0        4827
8000.0        4673
4500.0        4661
6100.0        4493
6200.0        4204
7800.0        4017
4800.0        3890
7700.0        3885
5100.0        3779
5999.0        3762
6250.0        3750
8400.0        3357
5001.0        3319
4999.0        3299
6120.0        3244
6001.0        3220
5600.0        3167
             ...
57787.0          1
57783.0          1
57868.0          1
57873.0          1
57977.0          1
57874.0          1
57976.0          1
57971.0          1
57966.0          1
57959.0          1
57957.0          1
57954.0          1
57947.0          1
57942.0          1
57938.0          1
57919.0          1
57916.0          1
57913.0          1
57912.0          1
57905.0          1
57903.0          1
57898.0          1
2840453.0        1
57893.0          1
57891.0          1
57890.0          1
57882.0          1
57880.0          1
57879.0          1
131039.0         1
Name: lotsizesquarefeet, Length: 70214, dtype: int64

In [228]:
# Find the mean of lot size.

mean_lotsize_17 = final_prop_17['lotsizesquarefeet'].mean()

print(round(mean_lotsize_17))

22604

In [229]:
# Fill in missing values.

final_prop_17['lotsizesquarefeet'] = final_prop_17['lotsizesquarefeet'].fillna(22604)

/home/tcbic/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [230]:
# Check that missing values have been filed.

final_prop_17['lotsizesquarefeet'].isnull().sum()

0

In [231]:
# Now we don't have any missing values in our dataframe.

final_prop_17.isnull().sum()

propertylandusetypeid               0
assessmentyear                      0
bedroomcnt                          0
bathroomcnt                         0
taxvaluedollarcnt               34266
calculatedfinishedsquarefeet        0
yearbuilt                           0
lotsizesquarefeet                   0
dtype: int64

In [232]:
# Find median for target feature.

final_prop_17['taxvaluedollarcnt'].median()

321161.0

In [233]:
# Fill in missing values with median.

final_prop_17['taxvaluedollarcnt'] = final_prop_17['taxvaluedollarcnt'].fillna(321161)

/home/tcbic/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [234]:
# Check that missing values have been filled.

final_prop_17['taxvaluedollarcnt'].isnull().sum()

0

In [258]:
# Check data types.

final_prop_17.dtypes

propertylandusetypeid           float64
assessmentyear                  float64
bedroomcnt                      float64
bathroomcnt                     float64
taxvaluedollarcnt               float64
calculatedfinishedsquarefeet    float64
yearbuilt                       float64
lotsizesquarefeet               float64
dtype: object

In [261]:
# Convert from float to integer.

final_prop_17 = final_prop_17.astype(int)

In [262]:
final_prop_17.head()

,propertylandusetypeid,assessmentyear,bedroomcnt,bathroomcnt,taxvaluedollarcnt,calculatedfinishedsquarefeet,yearbuilt,lotsizesquarefeet
0,269,2016,0,0,9,1831,1964,85768
1,261,2015,0,0,27516,1831,1964,4083
2,47,2016,0,0,1434941,73026,1959,63085
3,47,2016,0,0,1174475,5068,1948,7521
4,31,2016,0,0,440101,1776,1947,8512

Create a baseline model.

In [263]:
# Define X and y.

features = final_prop_17.drop(columns=['taxvaluedollarcnt'])
target = final_prop_17['taxvaluedollarcnt']

In [264]:
features.head()

,propertylandusetypeid,assessmentyear,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,yearbuilt,lotsizesquarefeet
0,269,2016,0,0,1831,1964,85768
1,261,2015,0,0,1831,1964,4083
2,47,2016,0,0,73026,1959,63085
3,47,2016,0,0,5068,1948,7521
4,31,2016,0,0,1776,1947,8512

In [277]:
features.dtypes

propertylandusetypeid           int64
assessmentyear                  int64
bedroomcnt                      int64
bathroomcnt                     int64
calculatedfinishedsquarefeet    int64
yearbuilt                       int64
lotsizesquarefeet               int64
dtype: object

In [265]:
features.shape, target.shape

((2985217, 7), (2985217,))

In [266]:
# Perform a tran/test split.

In [267]:
from sklearn.model_selection import train_test_split

In [268]:
# Split X into train and test.

X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.20, random_state=42)

In [269]:
# Check the shape.

X_train.shape, X_test.shape, y_train.shape, y_test.shape

((2388173, 7), (597044, 7), (2388173,), (597044,))

In [270]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error

In [271]:
model = LinearRegression()

In [272]:
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [273]:
y_pred = model.predict(X_test)

In [274]:
y_pred

array([369273.27442122, 488379.24428344, 324963.51387227, ...,
       626432.60736871, 120757.44254565, 376489.97661638])

In [275]:
mean_absolute_error(y_test, y_pred)

236048.99993757633

In [276]:
# Pickle model.

import pickle

pickle.dump(model, open('baseline_model2.pkl', 'wb'))