In [58]:
import pandas as pd

In [59]:
prop_17 = pd.read_csv('properties_2017.csv')

/home/tcbic/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (49) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [60]:
prop_17.head()

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
0,10754147,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,9.0,2016.0,9.0,NaN,NaN,NaN,NaN
1,10759547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,27516.0,2015.0,27516.0,NaN,NaN,NaN,NaN
2,10843547,NaN,NaN,NaN,0.0,0.0,5.0,NaN,NaN,NaN,...,1.0,NaN,660680.0,1434941.0,2016.0,774261.0,20800.37,NaN,NaN,NaN
3,10859147,NaN,NaN,NaN,0.0,0.0,3.0,6.0,NaN,NaN,...,1.0,NaN,580059.0,1174475.0,2016.0,594416.0,14557.57,NaN,NaN,NaN
4,10879947,NaN,NaN,NaN,0.0,0.0,4.0,NaN,NaN,NaN,...,1.0,NaN,196751.0,440101.0,2016.0,243350.0,5725.17,NaN,NaN,NaN

In [27]:
sub_prop_17 = prop_17[['propertylandusetypeid', 'bedroomcnt',
                           'bathroomcnt', 'taxvaluedollarcnt', 'calculatedfinishedsquarefeet',
                           'yearbuilt']]

In [28]:
sub_prop_17.head()

,propertylandusetypeid,bedroomcnt,bathroomcnt,taxvaluedollarcnt,calculatedfinishedsquarefeet,yearbuilt
0,269.0,0.0,0.0,9.0,NaN,NaN
1,261.0,0.0,0.0,27516.0,NaN,NaN
2,47.0,0.0,0.0,1434941.0,73026.0,1959.0
3,47.0,0.0,0.0,1174475.0,5068.0,1948.0
4,31.0,0.0,0.0,440101.0,1776.0,1947.0

In [29]:
# Filter dataset based on property use type.

sub_prop_17['propertylandusetypeid'] = sub_prop_17[sub_prop_17['propertylandusetypeid'] == 261.0]

/home/tcbic/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [30]:
# Drop NaN values from property use feature.

sub_prop_17 = sub_prop_17[pd.notnull(sub_prop_17['propertylandusetypeid'])]

In [31]:
sub_prop_17.isnull().sum()

propertylandusetypeid              0
bedroomcnt                        11
bathroomcnt                       11
taxvaluedollarcnt                493
calculatedfinishedsquarefeet    8484
yearbuilt                       9337
dtype: int64

Agreed upon / makes sense values for selected features:

Bedrooms: 1-8
Bathrooms: 1-6
Square footage: 400-10,000
Year Built: 1900-present
Tax value: 20,000-10,000,000

In [32]:
# Filter the rest of the dataset based on the above.

# Bedrooms
sub_prop_17 = sub_prop_17[(sub_prop_17['bedroomcnt'] >= 1) & (sub_prop_17['bedroomcnt'] <= 8)]

In [33]:
# Bathrooms
sub_prop_17 = sub_prop_17[(sub_prop_17['bathroomcnt'] >= 1) & (sub_prop_17['bathroomcnt'] <= 6)]

In [34]:
# Square feet

sub_prop_17 = sub_prop_17[(sub_prop_17['calculatedfinishedsquarefeet'] >= 400) & (sub_prop_17['calculatedfinishedsquarefeet'] <= 10000)]

In [35]:
# Year built

sub_prop_17 = sub_prop_17[(sub_prop_17['yearbuilt'] >= 1900)]

In [36]:
# Tax value

sub_prop_17 = sub_prop_17[(sub_prop_17['taxvaluedollarcnt'] >= 20000) & (sub_prop_17['taxvaluedollarcnt'] <= 10000000)]

In [37]:
sub_prop_17.isnull().sum()

propertylandusetypeid           0
bedroomcnt                      0
bathroomcnt                     0
taxvaluedollarcnt               0
calculatedfinishedsquarefeet    0
yearbuilt                       0
dtype: int64

In [38]:
sub_prop_17.shape

(2121999, 6)

In [43]:
# Convert to all features to integers.

sub_prop_17 = sub_prop_17.astype(int)

In [44]:
# Train/Test split

In [70]:
# Define features and target.

features = sub_prop_17.drop(columns=['taxvaluedollarcnt', 'propertylandusetypeid'])
target = sub_prop_17['taxvaluedollarcnt']
features1 = sub_prop_17['bedroomcnt']

In [69]:
features.shape, target.shape

((2121999, 4), (2121999,))

In [46]:
features.head()

     bedroomcnt  bathroomcnt  calculatedfinishedsquarefeet  yearbuilt
20            4            2                          3633       2005
31            3            4                          1620       2011
33            3            2                          2077       1926
110           3            1                          1244       1950
111           3            2                          1300       1950

In [47]:
from sklearn.model_selection import train_test_split

In [49]:
# Split X into train and test.

X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.25, random_state=42)

In [67]:
# Check the shape.

X_train.shape, X_test.shape, y_train.shape, y_test.shape

((1591499, 4), (530500, 4), (1591499,), (530500,))

Linear Regression Model

In [50]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error

In [51]:
model = LinearRegression()

In [52]:
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [53]:
y_pred = model.predict(X_test)

In [54]:
y_pred

array([993231.51013174, 216235.79642474, 468658.77462874, ...,
       367296.18194526, 104749.63292139, 405577.70977007])

In [55]:
# Measure of fit...

mean_absolute_error(y_test, y_pred)

# This is representative of the amount in which we would expect our prediction to vary from "ground truth."
# The smaller this number the better your model is performing.

221411.07204335713

Random Forest Regressor Model

In [73]:
from sklearn.ensemble import RandomForestRegressor

In [74]:
model2 = RandomForestRegressor()

In [75]:
model2.fit(X_train, y_train)

/home/tcbic/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=10,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

In [76]:
y_pred2 = model2.predict(X_test)

In [77]:
y_pred2

array([1032151.9606746 ,  267347.13345132,  399663.93848729, ...,
        423251.50369666,  282271.2621521 ,  194142.        ])

In [78]:
mean_absolute_error(y_test, y_pred2)

222468.90187025344

XGBRegressor Model

In [81]:
import sys
!{sys.executable} -m pip install xgboost

Collecting xgboost
  Using cached https://files.pythonhosted.org/packages/c1/24/5fe7237b2eca13ee0cfb100bec8c23f4e69ce9df852a64b0493d49dae4e0/xgboost-0.90-py2.py3-none-manylinux1_x86_64.whl
Requirement already satisfied: scipy in /home/tcbic/anaconda3/lib/python3.7/site-packages (from xgboost) (1.3.0)
Requirement already satisfied: numpy in /home/tcbic/anaconda3/lib/python3.7/site-packages (from xgboost) (1.16.4)
Installing collected packages: xgboost
Successfully installed xgboost-0.90

In [82]:
import xgboost

In [83]:
from xgboost import XGBRegressor

In [84]:
model3 = XGBRegressor()

In [85]:
model3.fit(X_train, y_train)

/home/tcbic/anaconda3/lib/python3.7/site-packages/xgboost/core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

[23:20:47] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=1, verbosity=1)

In [87]:
y_pred3 = model3.predict(X_test)

In [88]:
y_pred3

array([970852.7 , 260886.78, 419520.88, ..., 329871.03, 241287.95,
       396249.06], dtype=float32)

In [89]:
mean_absolute_error(y_test, y_pred3)

209924.78032030514